extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Meliopoulos Michalis

        p.lead.text-light
          | Full Stack JavaScript Developer.


        .portfolio-bio
          h6 Some more information
          p
            | Well-organised person, problem solver, independent employee with high attention to detail. In love with Greece and space, fan of sports, gaming, TV series and food! I am 24 years old and i have a bachelor degree in production and management engineering (Democritus University of Thrace). I trully love computer science and I spent 2 years learning on my own and with the help of a few seminars several programming languages. Interested in the entire frontend and backend spectrum and working on ambitious projects with positive people.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li HTML
          li Css-Sass
          li Javascript
          li Node.js
          li Express Framework
          li Pug View Engine
          li Responsive Web Design
          li Object-Oriented Programming
          li Latex Document Preparation System
          hr
        h6 Contact Info

        ul
          li 6989117005
          li mixalismeliop@gmail.com

        //- Add URLs to the hrefs below to link to your social media accounts.
        a.button.expanded(href='https://www.linkedin.com/in/mixalis-meliopoulos-64a22b1b7/') LinkedIn
        a.button.expanded(href='https://github.com/Michalis-Mel') GitHub
        a.button.expanded(href='https://www.facebook.com/mixalis.meliopoulos/') Facebook
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  