extends layout.pug

block content 
  article.grid-container.portfolio-intro
    div


      h1 Let's accomplish our goals, together!

      p.lead.text-light
        | Welcome to my portfolio! A simple static website built with the JavaScript Express web framework and Pug templates. 
  article.grid-container.portfolio-index
    
    .grid-x.grid-margin-x.small-up-2.medium-up-2.large-up-3

      each project in data.projects     
        .cell
          a(href=`/project/${project.id}`)
            img.thumbnail(src=`${project.image_urls[0]}`)
            h5= project.project_name
      
